{{ define "main" }}
<article class="mx-6 my-8">
    <h1 class="font-bold text-3xl text-primary-text">{{ .Title }}</h1>
    {{ with .Content }}
    <div class="content">
        {{ . }}
    </div>
    {{ end }}
</article>
<div class="rounded px-6">
    {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="flex flex-col md:flex-row my-6">
            <div class="flex-none w-32 ml-0 text-3xl font-bold py-6" id="{{ .Key }}">{{ .Key }}</div>
            <div class ="flex-grow overflow-hidden divide-y">
                {{ range .Pages }}
                    <div class="py-3 md:py-6">
                    {{ partial "components/summary-plain" . }}
                  </div>
                {{ end }}
                <!-- {{ partial "components/summary-list-plain" .Pages }} -->
            </div>
        </div>
    {{ end }}
</div>
{{ end }}